venv/
__pycache__/
*.pyc
.env
product_overview.csv
eval/ingredients/img/
eval/nutrition/img/
eval/ingredients/test_img/
eval/nutrition/test_img/
eval/eval_outputs/*
!eval/ingredients/img/.gitkeep
!eval/nutrition/img/.gitkeep
*.pt
yolo_training/images/train/*
yolo_training/labels/train/*
yolo_training/images/val/*
yolo_training/labels/val/*
yolo_results/model_yolov8s/*
yolo_results/model_yolov8m/*
!yolo_results/model_yolov8s/.gitkeep
!yolo_results/model_yolov8m/.gitkeep
yolo_training/labels/train.cache
yolo_training/labels/val.cache
!yolo_training/labels/train/.gitkeep
!yolo_training/labels/val/.gitkeep
!yolo_training/images/train/.gitkeep
!yolo_training/images/val/.gitkeep
eval/config_local.json
